/* primary-color-text #2196F3 (синій)
   main-color-text #212121 (чорний)
   secondary-color-text #757575 (сірий)
   logo-color-text #000000 (глибокий чорний)
   footer-color-text #FFFFFF (білий)
   active-button #188CE8 (темно синій)
   kontakty-footer rgba(255, 255, 255, 0.6) (білий з альфа-каналом)
   
   main-color-bg #FFFFFF; (білий)
   secondary-color-bg #F5F4FA; (ліловий)
   footer-color-bg #2F303A; (темно сірий)*/

:root {
    --primary-color-text: #2196F3;
    --main-color-text: #212121;
    --secondary-color-text: #757575;
    --logo-color-text: #000000;
    --footer-color-text: #FFFFFF;
    --main-color-bg: #FFFFFF;
    --secondary-color-bg: #F5F4FA;
    --footer-color-bg: #2F303A;
    --active-button: #188CE8;
    --card-border-color: #EEEEEE;
    --kontakty-footer: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color-bg);
    color: var(--secondary-color-text);
}

.hero-button,
.all-button .fr-button {
    font-family: inherit;
    cursor: pointer;
}

/* !!!стилі Шапки!!! */
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color-text);
}
.logo-color {
    color: var(--primary-color-text);
}

.menu-studia .link,
.menu-portfolio .link,
.menu-kontakty .link,
.mail .link,
.tel .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu-studia .link,
.menu-portfolio .link,
.menu-kontakty .link {
    color: var(--main-color-text);
}
.menu-studia .link:hover,
.menu-portfolio .link:hover,
.menu-kontakty .link:hover,
.menu-studia .link:focus,
.menu-portfolio .link:focus,
.menu-kontakty .link:focus {
    color: var(--primary-color-text);
}
/* підсвічування поточного меню */
.menu-portfolio .link.current {
    color: var(--primary-color-text);
}
.menu-studia .link.current {
    color: var(--primary-color-text);
}

.mail .link,
.tel .link {
    color: var(--secondary-color-text);
}
.mail .link:hover,
.tel .link:hover,
.mail .link:focus,
.tel .link:focus {
    color: var(--primary-color-text);
}

/* !!!стилі Футера!!! */
.footer {
    background-color: var(--footer-color-bg);
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--footer-color-text);
}
/* .logo-color задано в стилі Шапки */
.f-adress .link,
.f-mail .link,
.f-tel .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.f-adress .link {
    color: var(--footer-color-text);
}
.f-mail .link,
.f-tel .link {
    color: var(--kontakty-footer)   
}
.f-adress .link:hover,
.f-adress .link:focus,
.f-mail .link:hover,
.f-mail .link:focus,
.f-tel .link:hover,
.f-tel .link:focus {
    color: var(--primary-color-text);
}

/* ----------!!!стилі головної Студія!!!---------- */
.hero {
    background-color: var(--footer-color-bg);
}
.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--footer-color-text);
}
.hero-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--primary-color-text);
    color: var(--footer-color-text);
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--active-button);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    margin: -1px;
    clip-path: inset(50%);
  }
.title-section {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}
.title-perevagy {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-text);
}
.paragraph-perevagy {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}
.title-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}
.title-subname {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}
.card-solid {
    background-color: var(--main-color-bg);
}

.bg-violet {
    background-color: var(--secondary-color-bg);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* ----------!!!стилі головної Портфоліо!!!---------- */

/* стилі Фільтра */
.all .fr-button,
.web .fr-button,
.app .fr-button,
.design .fr-button,
.marketing .fr-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--secondary-color-bg);
    color: var(--main-color-text);
}
.all .fr-button:hover,
.all .fr-button:focus,
.web .fr-button:hover,
.web .fr-button:focus,
.app .fr-button:hover,
.app .fr-button:focus,
.design .fr-button:hover,
.design .fr-button:focus,
.marketing .fr-button:hover,
.marketing .fr-button:focus {
    background-color: var(--primary-color-text);
    color: var(--footer-color-text);
}

.title-portfolio {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-text)
}
.subname-portfolio {
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}
