/* primary-color-text #2196F3 (синій)
   main-color-text #212121 (чорний)
   secondary-color-text #757575 (сірий)
   logo-color-text #000000 (глибокий чорний)
   footer-color-text #FFFFFF (білий)
   active-button #188CE8 (темно синій)
   kontakty-footer rgba(255, 255, 255, 0.6) (білий з альфа-каналом)
   
   main-color-bg #FFFFFF; (білий)
   secondary-color-bg #F5F4FA; (ліловий)
   footer-color-bg #2F303A; (темно сірий)*/

:root {
    --primary-color-text: #2196F3;
    --main-color-text: #212121;
    --secondary-color-text: #757575;
    --logo-color-text: #000000;
    --footer-color-text: #FFFFFF;
    --main-color-bg: #FFFFFF;
    --secondary-color-bg: #F5F4FA;
    --footer-color-bg: #2F303A;
    --active-button: #188CE8;
    --card-border-color: #EEEEEE;
    --kontakty-footer: rgba(255, 255, 255, 0.6);
    --shadow-main-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --shadow-card-solid: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --shadow-filtr-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --work-list: #EEEEEE;
    --line-header: #ECECEC;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color-bg);
    color: var(--secondary-color-text);
    margin: 0;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, ol { 
    margin: 0;
    padding-left: 0;
}
img {
    display:block;
}

.hero-button,
.all-button .fr-button {
    font-family: inherit;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
}
.hero-button {
    padding: 10px 32px;
    box-shadow: var(--shadow-main-button)
}


/* !!!стилі Шапки!!! */
.container.shapka {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color-text);
    margin-right: 93px;
}
.logo-color {
    color: var(--primary-color-text);
}

.menu-studia .link,
.menu-portfolio .link,
.menu-kontakty .link,
.mail .link,
.tel .link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu-studia .link,
.menu-portfolio .link,
.menu-kontakty .link {
    color: var(--main-color-text);
}
.menu-studia .link:hover,
.menu-portfolio .link:hover,
.menu-kontakty .link:hover,
.menu-studia .link:focus,
.menu-portfolio .link:focus,
.menu-kontakty .link:focus {
    color: var(--primary-color-text);
}
/* підсвічування поточного меню */
.menu-portfolio .link.current,
.menu-studia .link.current {
    color: var(--primary-color-text);
}

.mail .link,
.tel .link {
    color: var(--secondary-color-text);
}
.mail .link:hover,
.tel .link:hover,
.mail .link:focus,
.tel .link:focus {
    color: var(--primary-color-text);
}

.menu {
    display: flex;
    align-items: center;
}
.kontakty {
    display: flex;
}
.kntkt-dist:first-child {
    margin-right: 50px;
}

nav {
    display: flex;
    align-items: center;
}
.header {
    padding: 32px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--line-header);
}
.menu-dist:not(:last-child) {
    margin-right: 50px;
}



/* !!!стилі Футера!!! */
.footer {
    background-color: var(--footer-color-bg);
    padding: 60px 0;
}
.logo-footer {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--footer-color-text);
    margin-bottom: 20px;
}
/* .logo-color задано в стилі Шапки */
.f-adress .link,
.f-mail .link,
.f-tel .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.f-adress .link {
    color: var(--footer-color-text);
}
.f-mail .link,
.f-tel .link {
    color: var(--kontakty-footer)   
}
.f-adress .link:hover,
.f-adress .link:focus,
.f-mail .link:hover,
.f-mail .link:focus,
.f-tel .link:hover,
.f-tel .link:focus {
    color: var(--primary-color-text);
}
.f-kontakty .kontakt:not(:last-child) {
    margin-bottom: 9px;
}

/* ----------!!!стилі головної Студія!!!---------- */
.hero {
    background-color: var(--footer-color-bg);
    padding: 200px 0;
    text-align: center;
}
.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--footer-color-text);
    margin: 0px 0px 30px 0px;
}

.title-centr {
    max-width: 696px;
}
.hero-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--primary-color-text);
    color: var(--footer-color-text);
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--active-button);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    margin: -1px;
    clip-path: inset(50%);
  }
.title-section {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    margin-bottom: 50px;
    margin-top: 0;
    padding: 0;
}
.title-perevagy {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-text);
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}
.paragraph-perevagy {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
    max-width: 270px;
}
.title-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    margin-top: 30px;
    margin-bottom: 10px;
}
.title-subname {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}
.card-solid {
    background-color: var(--main-color-bg);
    border-radius: 0 0 4px 4px;
    max-width: 270px;
    min-height: 368px;
    box-shadow: var(--shadow-card-solid);
}

.bg-violet {
    background-color: var(--secondary-color-bg);
    padding: 94px 0;
}
.bg-white-perevagy {
    padding-top: 94px;
}
.bg-white-work {
    padding: 94px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid transparent;
}

.perevagy, .working, .comand {
    display: flex;
    gap: 30px;
}

/* ----------!!!стилі головної Портфоліо!!!---------- */

/* стилі Фільтра */
.all .fr-button,
.web .fr-button,
.app .fr-button,
.design .fr-button,
.marketing .fr-button {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--secondary-color-bg);
    color: var(--main-color-text);
    padding: 6px 22px;
    margin-bottom: 50px;
}

.all .fr-button:hover,
.all .fr-button:focus,
.web .fr-button:hover,
.web .fr-button:focus,
.app .fr-button:hover,
.app .fr-button:focus,
.design .fr-button:hover,
.design .fr-button:focus,
.marketing .fr-button:hover,
.marketing .fr-button:focus {
    background-color: var(--primary-color-text);
    color: var(--footer-color-text);
    box-shadow: var(--shadow-filtr-button);
}

.all .fr-button {
    padding: 6px 25px;
}
 
.title-portfolio {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
    margin: 20px 24px 4px 24px;
}
.subname-portfolio {
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
    margin: 0 24px 20px 24px;
}

.all-button {
    display: flex;
    gap: 8px;
    justify-content: center;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-bg {
    padding: 94px 0;
}
.work-list > li {
    border: 1px solid var(--work-list);
}
.work-list > li:nth-child(n+4) {
    margin-top: 30px;
}
